.jackpots {
    display:flex;
    flex-direction: column;
    align-items: center;
    /* gap:var(--padding); */
}
.virtualsLobby {
    background: linear-gradient(100deg,#001041 0%,#213775 100%);
}
.jackpotsInner {
    display:flex;
    justify-content: space-evenly;
    width:100%;
    align-items: center;
    padding:var(--padding) var(--padding);
}
.jackpot {
    display: flex;
    flex-direction: column;
    align-items: center ;
    justify-content: center;
    font-size: 11px;
    color:#ffffff99;
    padding: calc(var(--padding) / 2) 0;
}
.jackpot > div:nth-child(2) {
    margin-top: calc(var(--padding) / 2);
}
.supportingText {
    font-size:16px;
    font-weight: 500;
    color:#fff;
    text-transform: uppercase;
}
.winner {
    margin-top: calc(var(--padding) / 2);
    font-size:12px;
}
.leagues {
    display: flex;
    gap:var(--padding);
}
.leagueContainer {
    padding:calc(var(--padding) * 2);
}
.leagueContainer h2 {
    color:var(--primaryColor);
    opacity: .8;
}
.description {
    font-size:14px;
    color:var(--primaryColor);
    opacity: .8;
    padding:0 0 var(--padding);
}
.jackpotGames {
    background-color: #fff;
    border-radius: var(--radius) var(--radius) 0 0;
    padding:calc(var(--padding) * 1) 0;
}

.moreContainer {
    background-color: #f3f3f3;
    border-radius: var(--radius) var(--radius) 0 0;
    margin-top: calc(0px - var(--radius));
}
.leagues a {
    flex:1 1 25%;
}

@media all and (max-width: 799px) {
    .jackpotGames {
        padding:0 0;
    }
    .leagueContainer {
        padding:var(--padding);
    }
    .jackpotsInner {
        /* padding:calc(var(--padding) * 1) var(--padding); */
        /* padding:var(--padding) 0; */
        padding:calc(var(--padding) / 2) 0 var(--padding);
        display: flex;
        overflow: auto;
        gap:0px;
        scroll-snap-type: x mandatory;
        justify-content: flex-start;
    }
    .jackpotsInner > div {
        position: relative;
        width: 100%;
        scroll-snap-align: start;
        flex-shrink: 0;
        flex-grow: 1;
    }
    .leagues {
        flex-wrap: wrap;
    }
}