.jackpots {
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:var(--padding);
    
}
.virtualsLobby {
    background: linear-gradient(100deg,#001041 0%,#213775 100%);
}
.jackpotsInner {
    display:flex;
    justify-content: space-evenly;
    width:100%;
    align-items: center;
    padding:calc(var(--padding) * 1.5) var(--padding);
}
.jackpot {
    display: flex;
    flex-direction: column;
    align-items: center ;
    justify-content: center;
    color:#fff;
    flex: 1 1 35%;
}
.supportingText {
    flex:1 0 20%;
    text-align: center;
    color:#ffffffCC;
    font-size: 13px;
    display: flex;
    gap:var(--padding);
    align-items: center;
}
.supportingText::before,
.supportingText::after {
    content:'arrow_back';
    font-family: var(--fontFamilyIcons);
    font-size: 24px;
}
.supportingText::after {
    content: 'arrow_forward';
}
.supportingText div div {
    margin-bottom: calc(var(--padding) / 2);
    font-size:16px;
    font-weight: 500;
    color:#fff;
    text-transform: uppercase;
}
.winner {
    margin-top: var(--padding);
    font-size:12px;
    color:#ffffff99;
}
.leagues {
    display: flex;
    gap:var(--padding);
    /* justify-content: space-evenly; */
}
.leagueContainer {
    padding:calc(var(--padding) * 2);
}
.leagueContainer h2 {
    color:var(--primaryColor);
    opacity: .8;
}
.description {
    font-size:14px;
    color:var(--primaryColor);
    opacity: .8;
    padding:0 0 var(--padding);
}
.jackpotGames {
    /* background: rgb(244,246,254);
background: linear-gradient(326deg, rgba(244,246,254,1) 0%, rgba(208,218,247,1) 100%); */
    background-color: #fff;
    border-radius: var(--radius) var(--radius) 0 0;
    padding:calc(var(--padding) * 1) 0;
}

.moreContainer {
    background-color: #f3f3f3;
    border-radius: var(--radius) var(--radius) 0 0;
    margin-top: calc(0px - var(--radius));
}