.button {
    border-radius: var(--radiusXtraLarge);
    border:0px solid transparent;
    background-color: var(--primaryActionColor);
    padding:0 var(--paddingLarge);
    height:36px;
    text-transform: uppercase;
    font-weight:500;
    color:var(--onPrimaryActionColor);
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    box-shadow: var(--elevation--z2);
    position: relative;
    overflow: hidden;
    font-size:13px;
    letter-spacing: 0.4px;
    font-family: var(--fontFamily);
    display: flex;
    align-items: center;
    justify-content: center;
    gap:6px;

    transition: var(--animation--normal);
}
.buttonContent {
    position: relative;
    z-index: 1;
    font-weight:500;
}

.button:hover {
    filter: brightness(1.2);
    box-shadow: var(--elevation--z4);

    transition: var(--animation--normal);
}
.button:active {
    filter: brightness(1);
    box-shadow: var(--elevation--z1);

    transition: var(--animation--normal);
}
.click {
    content:'';
    width:0px;
    height:0px;
    background-color: rgba(255,255,255,.35);
    opacity: 1;
    position:absolute;
    border-radius: 50%;
    left:0px;
    top:0px;
    transform: translate(-50%, -50%);
    /* margin-top: -25%; */
    /* transform: scale(.5); */
    /* transform-origin: 50% 50%; */
    z-index: -0;

    transition: width 0s, height 0s;
}
.clicked {
    width: 150px;
    height:150px;
    opacity: 0;

    transition: width .4s ease-out, height .4s ease-out, opacity .3s .1s ease-out;
}
.secondary {
    background-color: rgba(255,255,255,.2);
    box-shadow: none;
    color:#fff;
}

.tertiary,
.tertiaryOnDark {    
    background-color: transparent;
    overflow: visible;
    box-shadow: var(--elevation--z0);
    padding:0 var(--padding);
    /* font-weight:500; */
}

.tertiary:hover,
.tertiaryOnDark:hover {
    box-shadow: var(--elevation--z0);
}

.tertiaryOnDark {
    color:var(--textOnDark);
    overflow: visible;
}

.tertiary.button:focus::before,
.tertiaryOnDark.button:focus::before {
    transform: scale(0) translateX(0%) translateY(0%);
    opacity: 0;

    transition: 0s;
}

.quaternary {
    background-color: #EBECF0;
    border: 1px solid #EBECF0;
    color: #001041;
    padding: 0px 14px 0px 16px;
    font-weight: 300;
    height: 34px;
    box-shadow: none;
}
.quaternary span {
    color: #6C7592;
}
.button.quaternary:hover {
    filter: brightness(1.02);
    box-shadow: var(--elevation--z2);

    transition: var(--animation--normal);
}
.icon {
    padding-left:12px;
}