.selectionContainer {
  /* padding: 0 0 var(--padding); */
  display: flex;
  position: relative;
  /* min-width:100%; */
}
.selection {
  padding: calc(var(--padding) - 0px) var(--padding);
  background-color: #fff;
  border-radius: var(--radius);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  flex: 1;
  gap: var(--padding);
  background-color: #f3f3f3;
  max-width: 100%;
  width:0%;
}
.boosted {
  position: relative;
  box-shadow: inset 0 0 0px 2px var(--value);
  background-color: var(--valueBackground);
}
.boosted::after {
  content: "";
  height: 16px;
  width: 100%;
  background-image: url("data:image/svg+xml,%3Csvg width='95' height='16' viewBox='0 0 95 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='94.5255' height='16' rx='8' fill='%23FFC400'/%3E%3Cpath d='M10.312 12.077C9.60067 12.077 8.94433 11.912 8.343 11.582C7.749 11.2447 7.276 10.779 6.924 10.185C6.57933 9.58367 6.407 8.909 6.407 8.161C6.407 7.413 6.57933 6.742 6.924 6.148C7.276 5.554 7.749 5.092 8.343 4.762C8.94433 4.42467 9.60067 4.256 10.312 4.256C11.0307 4.256 11.687 4.42467 12.281 4.762C12.8823 5.092 13.3553 5.554 13.7 6.148C14.0447 6.742 14.217 7.413 14.217 8.161C14.217 8.909 14.0447 9.58367 13.7 10.185C13.3553 10.779 12.8823 11.2447 12.281 11.582C11.687 11.912 11.0307 12.077 10.312 12.077ZM10.312 10.988C10.818 10.988 11.269 10.8743 11.665 10.647C12.061 10.4123 12.369 10.0823 12.589 9.657C12.8163 9.22433 12.93 8.72567 12.93 8.161C12.93 7.59633 12.8163 7.10133 12.589 6.676C12.369 6.25067 12.061 5.92433 11.665 5.697C11.269 5.46967 10.818 5.356 10.312 5.356C9.806 5.356 9.355 5.46967 8.959 5.697C8.563 5.92433 8.25133 6.25067 8.024 6.676C7.804 7.10133 7.694 7.59633 7.694 8.161C7.694 8.72567 7.804 9.22433 8.024 9.657C8.25133 10.0823 8.563 10.4123 8.959 10.647C9.355 10.8743 9.806 10.988 10.312 10.988ZM17.948 4.355C18.762 4.355 19.4733 4.51267 20.082 4.828C20.698 5.136 21.171 5.58333 21.501 6.17C21.8383 6.74933 22.007 7.42767 22.007 8.205C22.007 8.98233 21.8383 9.657 21.501 10.229C21.171 10.801 20.698 11.241 20.082 11.549C19.4733 11.8497 18.762 12 17.948 12H15.451V4.355H17.948ZM17.948 10.977C18.8426 10.977 19.5283 10.735 20.005 10.251C20.4816 9.767 20.72 9.085 20.72 8.205C20.72 7.31767 20.4816 6.62467 20.005 6.126C19.5283 5.62733 18.8426 5.378 17.948 5.378H16.705V10.977H17.948ZM25.7468 4.355C26.5608 4.355 27.2721 4.51267 27.8808 4.828C28.4968 5.136 28.9698 5.58333 29.2998 6.17C29.6371 6.74933 29.8058 7.42767 29.8058 8.205C29.8058 8.98233 29.6371 9.657 29.2998 10.229C28.9698 10.801 28.4968 11.241 27.8808 11.549C27.2721 11.8497 26.5608 12 25.7468 12H23.2498V4.355H25.7468ZM25.7468 10.977C26.6415 10.977 27.3271 10.735 27.8038 10.251C28.2805 9.767 28.5188 9.085 28.5188 8.205C28.5188 7.31767 28.2805 6.62467 27.8038 6.126C27.3271 5.62733 26.6415 5.378 25.7468 5.378H24.5038V10.977H25.7468ZM33.5676 12.077C33.0543 12.077 32.5923 11.989 32.1816 11.813C31.771 11.6297 31.4483 11.373 31.2136 11.043C30.979 10.713 30.8616 10.328 30.8616 9.888H32.2036C32.233 10.218 32.3613 10.4893 32.5886 10.702C32.8233 10.9147 33.1496 11.021 33.5676 11.021C34.0003 11.021 34.3376 10.9183 34.5796 10.713C34.8216 10.5003 34.9426 10.229 34.9426 9.899C34.9426 9.64233 34.8656 9.43333 34.7116 9.272C34.565 9.11067 34.378 8.986 34.1506 8.898C33.9306 8.81 33.6226 8.71467 33.2266 8.612C32.728 8.48 32.321 8.348 32.0056 8.216C31.6976 8.07667 31.4336 7.864 31.2136 7.578C30.9936 7.292 30.8836 6.91067 30.8836 6.434C30.8836 5.994 30.9936 5.609 31.2136 5.279C31.4336 4.949 31.7416 4.696 32.1376 4.52C32.5336 4.344 32.992 4.256 33.5126 4.256C34.2533 4.256 34.8583 4.443 35.3276 4.817C35.8043 5.18367 36.0683 5.68967 36.1196 6.335H34.7336C34.7116 6.05633 34.5796 5.818 34.3376 5.62C34.0956 5.422 33.7766 5.323 33.3806 5.323C33.0213 5.323 32.728 5.41467 32.5006 5.598C32.2733 5.78133 32.1596 6.04533 32.1596 6.39C32.1596 6.62467 32.2293 6.819 32.3686 6.973C32.5153 7.11967 32.6986 7.237 32.9186 7.325C33.1386 7.413 33.4393 7.50833 33.8206 7.611C34.3266 7.75033 34.7373 7.88967 35.0526 8.029C35.3753 8.16833 35.6466 8.38467 35.8666 8.678C36.094 8.964 36.2076 9.349 36.2076 9.833C36.2076 10.2217 36.1013 10.5883 35.8886 10.933C35.6833 11.2777 35.379 11.5563 34.9756 11.769C34.5796 11.9743 34.1103 12.077 33.5676 12.077Z' fill='%23001041'/%3E%3Cpath d='M42.7531 6.21695L41.3644 6.19572C41.1345 6.19221 41.027 5.92418 41.1934 5.77805L44.7013 2.7187C44.8311 2.60298 45.0438 2.6496 45.1104 2.80549L46.4548 5.93901C46.5247 6.09805 46.3972 6.27266 46.2134 6.26985L44.7721 6.24782L44.1249 7.9849L45.8453 8.0081C46.0455 8.01116 46.1671 8.22365 46.0563 8.37993L42.6885 13.2349C42.6414 13.3054 42.5587 13.3444 42.4701 13.343L42.434 13.3425C42.26 13.3398 42.1377 13.1769 42.1959 13.0229L43.4976 9.49927L41.8397 9.47393C41.6624 9.47122 41.5434 9.30523 41.6049 9.1482L42.7531 6.21695Z' fill='%23001041'/%3E%3Cpath d='M55.4425 8.073C55.8531 8.14633 56.2015 8.36267 56.4875 8.722C56.7735 9.08133 56.9165 9.48833 56.9165 9.943C56.9165 10.3317 56.8138 10.6837 56.6085 10.999C56.4105 11.307 56.1208 11.5527 55.7395 11.736C55.3581 11.912 54.9145 12 54.4085 12H51.3505V4.355H54.2655C54.7861 4.355 55.2335 4.443 55.6075 4.619C55.9815 4.795 56.2638 5.03333 56.4545 5.334C56.6451 5.62733 56.7405 5.95733 56.7405 6.324C56.7405 6.764 56.6231 7.13067 56.3885 7.424C56.1538 7.71733 55.8385 7.93367 55.4425 8.073ZM52.6045 7.567H54.1555C54.5661 7.567 54.8851 7.47533 55.1125 7.292C55.3471 7.10133 55.4645 6.83 55.4645 6.478C55.4645 6.13333 55.3471 5.86567 55.1125 5.675C54.8851 5.477 54.5661 5.378 54.1555 5.378H52.6045V7.567ZM54.2985 10.977C54.7238 10.977 55.0575 10.8743 55.2995 10.669C55.5415 10.4637 55.6625 10.1777 55.6625 9.811C55.6625 9.437 55.5341 9.14 55.2775 8.92C55.0208 8.7 54.6798 8.59 54.2545 8.59H52.6045V10.977H54.2985ZM61.7662 12.077C61.0548 12.077 60.3985 11.912 59.7972 11.582C59.2032 11.2447 58.7302 10.779 58.3782 10.185C58.0335 9.58367 57.8612 8.909 57.8612 8.161C57.8612 7.413 58.0335 6.742 58.3782 6.148C58.7302 5.554 59.2032 5.092 59.7972 4.762C60.3985 4.42467 61.0548 4.256 61.7662 4.256C62.4848 4.256 63.1412 4.42467 63.7352 4.762C64.3365 5.092 64.8095 5.554 65.1542 6.148C65.4988 6.742 65.6712 7.413 65.6712 8.161C65.6712 8.909 65.4988 9.58367 65.1542 10.185C64.8095 10.779 64.3365 11.2447 63.7352 11.582C63.1412 11.912 62.4848 12.077 61.7662 12.077ZM61.7662 10.988C62.2722 10.988 62.7232 10.8743 63.1192 10.647C63.5152 10.4123 63.8232 10.0823 64.0432 9.657C64.2705 9.22433 64.3842 8.72567 64.3842 8.161C64.3842 7.59633 64.2705 7.10133 64.0432 6.676C63.8232 6.25067 63.5152 5.92433 63.1192 5.697C62.7232 5.46967 62.2722 5.356 61.7662 5.356C61.2602 5.356 60.8092 5.46967 60.4132 5.697C60.0172 5.92433 59.7055 6.25067 59.4782 6.676C59.2582 7.10133 59.1482 7.59633 59.1482 8.161C59.1482 8.72567 59.2582 9.22433 59.4782 9.657C59.7055 10.0823 60.0172 10.4123 60.4132 10.647C60.8092 10.8743 61.2602 10.988 61.7662 10.988ZM70.3921 12.077C69.6808 12.077 69.0245 11.912 68.4231 11.582C67.8291 11.2447 67.3561 10.779 67.0041 10.185C66.6595 9.58367 66.4871 8.909 66.4871 8.161C66.4871 7.413 66.6595 6.742 67.0041 6.148C67.3561 5.554 67.8291 5.092 68.4231 4.762C69.0245 4.42467 69.6808 4.256 70.3921 4.256C71.1108 4.256 71.7671 4.42467 72.3611 4.762C72.9625 5.092 73.4355 5.554 73.7801 6.148C74.1248 6.742 74.2971 7.413 74.2971 8.161C74.2971 8.909 74.1248 9.58367 73.7801 10.185C73.4355 10.779 72.9625 11.2447 72.3611 11.582C71.7671 11.912 71.1108 12.077 70.3921 12.077ZM70.3921 10.988C70.8981 10.988 71.3491 10.8743 71.7451 10.647C72.1411 10.4123 72.4491 10.0823 72.6691 9.657C72.8965 9.22433 73.0101 8.72567 73.0101 8.161C73.0101 7.59633 72.8965 7.10133 72.6691 6.676C72.4491 6.25067 72.1411 5.92433 71.7451 5.697C71.3491 5.46967 70.8981 5.356 70.3921 5.356C69.8861 5.356 69.4351 5.46967 69.0391 5.697C68.6431 5.92433 68.3315 6.25067 68.1041 6.676C67.8841 7.10133 67.7741 7.59633 67.7741 8.161C67.7741 8.72567 67.8841 9.22433 68.1041 9.657C68.3315 10.0823 68.6431 10.4123 69.0391 10.647C69.4351 10.8743 69.8861 10.988 70.3921 10.988ZM78.0501 12.077C77.5368 12.077 77.0748 11.989 76.6641 11.813C76.2534 11.6297 75.9308 11.373 75.6961 11.043C75.4614 10.713 75.3441 10.328 75.3441 9.888H76.6861C76.7154 10.218 76.8438 10.4893 77.0711 10.702C77.3058 10.9147 77.6321 11.021 78.0501 11.021C78.4828 11.021 78.8201 10.9183 79.0621 10.713C79.3041 10.5003 79.4251 10.229 79.4251 9.899C79.4251 9.64233 79.3481 9.43333 79.1941 9.272C79.0474 9.11067 78.8604 8.986 78.6331 8.898C78.4131 8.81 78.1051 8.71467 77.7091 8.612C77.2104 8.48 76.8034 8.348 76.4881 8.216C76.1801 8.07667 75.9161 7.864 75.6961 7.578C75.4761 7.292 75.3661 6.91067 75.3661 6.434C75.3661 5.994 75.4761 5.609 75.6961 5.279C75.9161 4.949 76.2241 4.696 76.6201 4.52C77.0161 4.344 77.4744 4.256 77.9951 4.256C78.7358 4.256 79.3408 4.443 79.8101 4.817C80.2868 5.18367 80.5508 5.68967 80.6021 6.335H79.2161C79.1941 6.05633 79.0621 5.818 78.8201 5.62C78.5781 5.422 78.2591 5.323 77.8631 5.323C77.5038 5.323 77.2104 5.41467 76.9831 5.598C76.7558 5.78133 76.6421 6.04533 76.6421 6.39C76.6421 6.62467 76.7118 6.819 76.8511 6.973C76.9978 7.11967 77.1811 7.237 77.4011 7.325C77.6211 7.413 77.9218 7.50833 78.3031 7.611C78.8091 7.75033 79.2198 7.88967 79.5351 8.029C79.8578 8.16833 80.1291 8.38467 80.3491 8.678C80.5764 8.964 80.6901 9.349 80.6901 9.833C80.6901 10.2217 80.5838 10.5883 80.3711 10.933C80.1658 11.2777 79.8614 11.5563 79.4581 11.769C79.0621 11.9743 78.5928 12.077 78.0501 12.077ZM87.1088 4.355V5.378H85.0738V12H83.8198V5.378H81.7738V4.355H87.1088Z' fill='%23001041'/%3E%3C/svg%3E%0A");
  background-size: 100% 100%;
  position: absolute;
  top: -7px;
  left: 0px;
}
.selectionDetailsContainer {
  display: flex;
  gap: var(--padding);
  align-items: center;
  min-width: 0;
}
.selectionDetails {
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: flex-start;
  gap: 4px;
  min-width:0px;
  flex:1;
}
.selectionAndMarketName {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.selectionName {
  font-weight: 500;
  color: var(--textPrimary);
}
.marketName,
.eventName {
  color:var(--textSecondary);
  font-weight: 300;
}
.eventName {
  display: inline-block;
  /* border-bottom: 1px solid #00104133; */
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width:100%;
  display: flex;
  align-items: center;
}
.eventName::before {
  content:'chevron_left';
  font-family: 'Material Icons Round';
  margin-right:3px;
  font-size:14px;
  margin-left:-3px;
}
.right {
  display: flex;
  gap: var(--padding);
  align-items: center;
}
.right span {
  font-size: 20px;
}
.remove {
  cursor: pointer;
}
.right .was {
  font-size: 10px;
  text-decoration: line-through;
  color: var(--textSecondary);
}

.related::after {
  border-top: 2px solid rgb(239, 83, 80) !important;
  border-right: 2px solid rgb(239, 83, 80) !important;
}
.related::before {
  height: 100%;
  top: calc(50% + 14px) !important;
  border-right: 2px solid rgb(239, 83, 80) !important;
}
.related:first-child::before {
  top: calc(50% + 14px) !important;
}
.related:first-child ~ ::before {
  border-right: 2px solid rgb(239, 83, 80) !important;
}

.removeRelated {
  color: rgb(239, 83, 80);
}
