.event {
    display: flex;
    flex-direction: column;
    padding: 8px var(--padding);
    justify-content: center;
}
.details {
    display: flex;
    justify-content: space-between;
    height: 44px;
    align-items: center;
}
.dateAndComp {
    color:var(--textSecondary);
    font-size:11px;
    display: flex;
    gap:12px;
    align-items: center;
}
.date {
    border-radius: 8px 2px;
    background-color: #FAFAFA;
    padding: 4px 12px;
}
.name {
    display: flex;
    align-items: center;
    gap: var(--padding);
    font-size: 13px;
    color: #212C48;
    flex: 1;
}
.markets {
    display: flex;
    justify-content: flex-end;
}
.markets > div {
    display: flex;
    border-right: 1px solid #e3e3e3;
    padding: 0px var(--padding);
    align-items: center;
    gap:1px;
}
.markets > div:last-child {
    border-right: 0px solid #e3e3e3;
}
.markets > div button {
    border-radius: 0 0 0 0;
}
.markets > div button:last-child {
    border-radius: 0 var(--radius) var(--radius) 0;
}
.markets > div button:first-child {
    border-radius: var(--radius) 0 0 var(--radius);
}
.stats,
.icon {
    flex:0 0 24px;
}
.teams {
    display: flex;
    flex-direction: column;
    gap:4px;
}